@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --animate-typing: typing 2s steps(20) infinite alternate;

  @keyframes typing {
    0% {
      width: 0%;
      visibility: hidden;
    }
    100% {
      width: 100%;
    }
  }
}

/* 
 * Override prose h1 header
 * Used in :
 * - pages/apps/[slug]/faq.astro
 * - pages/apps/[slug]/privacy.astro
 */
.prose header h1.prose-custom-header {
  @apply mt-8;
  @apply text-center;
}
