---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogPost from "@/components/BlogPost.astro";
import { fetchBlogPosts } from "@/fetch-collections";

const blogPosts = await fetchBlogPosts();
---

<BaseLayout title="Blog">
  <section>
    <div class="py-32 sm:py-40">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto lg:mx-0">
          <h1
            class="text-5xl font-extrabold tracking-tight text-balance sm:text-7xl"
          >
            Blog
          </h1>
          <p class="mt-2 text-lg/8">The latest blog posts.</p>
        </div>
        <div class="mx-auto mt-8 flow-root sm:mt-12 lg:mt-16">
          <div class="-my-4 divide-y divide-gray-950/5 dark:divide-white/10">
            {
              blogPosts.map(({ params, props }) => (
                <BlogPost
                  title={props.blogPost.data.title}
                  url={`/blog/${params.slug}`}
                  date={props.blogPost.data.date.toISOString()}
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
