---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import config from "../config";
---

<BaseLayout title="Xavier Briole" isHome>
  <section>
    <div class="mx-auto flex max-w-6xl px-4 sm:px-6 md:-mt-20 md:h-screen">
      <div class="m-auto py-12 md:py-20">
        <div class="sm:mb-8 sm:flex sm:justify-center">
          <Image
            class="m-8 mx-auto rounded-full"
            src={config.avatarUrl}
            alt="Xavier Briole"
            width={200}
            height={200}
          />
        </div>
        <div class="text-center">
          <h1
            class="text-5xl font-extrabold tracking-tight text-balance sm:text-7xl"
          >
            {config.title}
          </h1>
          <p
            class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
          >
            {config.description}
          </p>
          <div
            class="mt-10 flex max-w-none flex-col flex-nowrap gap-6 sm:flex-row sm:justify-center"
          >
            <div class="flex w-full sm:w-auto">
              <Button link="/apps">
                <span>Apps</span>
              </Button>
            </div>
            <div class="flex w-full sm:w-auto">
              <Button link="/packages" secondary>
                <span>Packages</span>
              </Button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
