---
import { Icon } from "astro-icon/components";
import config from "../config";
---

<footer class="border-t border-gray-950/5 py-8 dark:border-white/10">
  <div
    class="mx-auto flex w-full max-w-screen-xl items-center justify-center p-4"
  >
    <ul class="flex flex-wrap items-center gap-6 text-sm font-medium">
      {
        config.socials.map((social) => (
          <li>
            <a
              href={social.url}
              target="_blank"
              class="block p-2 text-gray-500 transition-colors duration-300 hover:text-black dark:hover:text-white"
              aria-label={social.platform}
            >
              <Icon name={`tabler:brand-${social.platform}`} class="h-6 w-6" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
