---
interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;
const { pathname } = Astro.url;

const normalizeUrl = (url: string) => url.replace(/\/$/, "");
const normalizedUrl = normalizeUrl(url);
const normalizedPathname = normalizeUrl(pathname);

const isActive =
  normalizedPathname === normalizedUrl ||
  (normalizedUrl !== "/" && normalizedPathname.startsWith(normalizedUrl));
---

<li>
  {
    isActive ? (
      <a
        href={url}
        class="flex items-center py-3 font-medium text-gray-500 dark:text-gray-500"
      >
        {title}
      </a>
    ) : (
      <a href={url} class="flex items-center py-3 font-medium">
        {title}
      </a>
    )
  }
</li>
