---
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";

interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <section>
    <div class="py-32 sm:py-40">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <Prose>
          <slot />
        </Prose>
      </div>
    </div>
  </section>
</BaseLayout>
